<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add User</title>
</head>
<body>
<h2>Add User</h2>

<form action="#" th:action="@{/saveUser}" th:object="${user}" method="POST">
    <input type="text" th:field="*{username}" placeholder="Username">
    <input type="text" th:field="*{firstName}" placeholder="First name">
    <input type="text" th:field="*{lastName}" placeholder="Last name">
    <button type="submit">ADD</button>
</form>
<hr>
<a th:href="@{/}">Back to User List</a>
</body>
</html>